.gradle/
.idea/caches/
.idea/libraries/
build/
captures/
gradle/
.idea/assetWizardSettings.xml
.idea/modules.xml
.idea/render.experimental.xml
.idea/workspace.xml
.idea/navEditor.xml
local.properties
