<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:name=".Application"
        android:icon="@mipmap/mipmap_app"
        android:label="@string/title_app"
        android:theme="@style/Theme.Timetable">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ClockActivity" />

        <receiver
            android:name=".appwidget.LessonWidgetProvider"
            android:exported="false"
            android:label="@string/title_widget_lesson">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_lesson_info" />
        </receiver>

        <receiver
            android:name=".appwidget.ClockWidgetProvider"
            android:exported="false"
            android:label="@string/title_widget_clock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_clock_info" />
        </receiver>

        <receiver
            android:name=".appwidget.TimetableWidgetProvider"
            android:exported="false"
            android:label="@string/title_widget_timetable">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_timetable_info" />
        </receiver>

        <service
            android:name=".widget.Timetable$RemoteListService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".WidgetService"
            android:foregroundServiceType="specialUse" />

    </application>

</manifest>